#mapa {
    text-align: center;
    margin: 4px;
}

#contato {
    text-align: center;
    width: 100%;
}

@media (min-width: 360px) and (max-width: 640px) {
    #contatos {
        margin-right: 1px;
        padding: 0;
    }
    #mapa p {
        font-size: 15px !important;
        padding: 5px;
    }
    iframe {
        width: 100%;
        transform: scale(0.9);
    }
    h2 {
        margin: 5px;
        padding: 0;
    }
}

@media (min-width: 200px) and (max-width: 359px) {
    iframe {
        width: 100%;
        transform: scale(0.8);
    }
}

#mapa {
    text-align: center;
    margin: 4px;
}

#contato {
    text-align: center;
}

@media (min-width: 360px) and (max-width: 640px) {
    #contatos {
        margin-right: 1px;
        padding: 0;
    }
    #mapa p {
        font-size: 15px !important;
        padding: 5px;
    }
    iframe {
        width: 100%;
        transform: scale(0.9);
    }
    h2 {
        margin: 5px;
        padding: 0;
    }
}